
| <h1> Activity 1.1 </h1> | <h1> Python Challenge </h1> |
|--- | --- |
Name: Feliciano, Kurt <br>
Course and Section: CPE019S3 <br>
Date Submitted: 1/24/24<br>
Instructor: Engr. Roman Richard
Date Performed: 1/24/24

<hr>

**Instructions**: Answer the questions or complete the tasks outlined below, use the specific method described if applicable. Insert a code cell after each text cell.

**Objectives:**
- Test understanding of Python basics
- Review Python basic to intermediate commands

<hr>

1. What is 3 to the power of 5?

In [ ]:
 3**5

243

In [ ]:
# Answer to Question 1
x = 3**5
print(x)

243

2.  Create a variable, s, containing the string "This course is amazing!". Using the variable, split the string into a list.

In [ ]:
s = "This course is amazing!"
s.split()

['This', 'course', 'is', 'amazing!']

In [ ]:
# Answer to Question 2
s = "This course is amazing!"
splitMessage = s.split()
print(splitMessage)

['This', 'course', 'is', 'amazing!']

3.  Given the variables height and mountain, use .format() to print the following string:
`The height of Mt. Everest is 8848 meters.`

In [ ]:
# Answer to Question 3
string = "The height of {mountain} is {height} meters."
print(string.format(mountain = "Mt. Everest", height = 8848))

The height of Mt. Everest is 8848 meters.

4. Given the following nested list, use indexing to grab the word "this".

```
lst = ['a','b',[4,10,11],['c',[1,66,['this']],2,111],'e',7]
```

In [ ]:
# Answer to Question 4
lst = ['a','b',[4,10,11],['c',[1,66,['this']],2,111],'e',7]
print(lst[3][1][2])

['this']

5. Given the following nested dictionary, grab the word "that". This exercise is a little more difficult.
```
d = {'k1':['val1','val2','val3',{'we':['need','to','go',{'deeper':[1,2,3,'that']}]}]}
```

In [ ]:
# Answer to Question 5
d = {'k1':['val1','val2','val3',{'we':['need','to','go',{'deeper':[1,2,3,'that']}]}]}
print(d['k1'][3]['we'][3]['deeper'][3])

that

6. Create a function, GetDomain(), that grabs the email website domain from a string in the form: user@domain.com.
So for example, passing "user@domain.com" would return: domain.com

In [ ]:
def GetDomain():
  domain = address[address.index('@') + 1 : ]
  print(domain)

address = "user@domain.com"
GetDomain()

domain.com

7. Create a basic function, findInternet(), that returns True if the word 'Internet' is contained in the input string. Don't worry about edge cases like punctuation being attached to the word, but account for capitalization. (Hint: Please see https://docs.python.org/2/reference/expressions.html#in)

In [ ]:
def findInternet(y):
  wordCheck = "Internet"
  if wordCheck in y.split():
    return True
  else:
   return False

findInternet("Internet xxxxxxxxxxxxxxx yyyyyyyyyy zzzzzz")

False

8. Create a function, countIoT(), that counts the number of times the word "IoT" occurs in a string. Ignore edge cases but take into account capitalization.

In [ ]:
def countIoT(y):
  keyword = "IoT"
  keyCount = y.count(keyword)
  print(keyCount)

countIoT("IOT iot IoT iOt")

1

9. Use lambda expressions and the filter() function to filter out words from a list that do not start with the letter 'd'. For example:
```
seq = ['data','salt' ,'dairy','cat', 'dog']
```
should be filtered down to:
```
['data', 'dairy', 'dog']
```

In [ ]:
# Answer to Question 9
seq = ['data','salt' ,'dairy','cat', 'dog']
dFilter = list(filter(lambda x: 'd' in x, seq))
print(dFilter)

['data', 'dairy', 'dog']

10. Use lambda expressions and the map() function to convert a list of words to upper case. For example:
```
seq = ['data','salt' ,'dairy','cat', 'dog']
```
should become:
```
['DATA', 'SALT', 'DAIRY', 'CAT', 'DOG']
```

In [ ]:
# Answer to Question 10
seq = ['data','salt' ,'dairy','cat', 'dog']
seqUp = list(map(lambda x: x.upper(), seq))
print(seqUp)

['DATA', 'SALT', 'DAIRY', 'CAT', 'DOG']

11. Imagine a smart thermostat that is connected to the door, so that it can detect, in addition to the temperature, when people enter or leave the house. <br><br>Write a function that, if the temperature is lower than 20 degrees Celsius, and there are people in the house (encoded as a boolean value to be passed as a parameter to the function), turns on the heating by returning the string "Heating on". When the temperature reaches 23 degrees or there are no people in the house, it returns the string "Heating off". When none of these conditions are met, the function returns "Do nothing".

In [ ]:
def thermostat(temp, presence):
  if temp > 23 or presence == 0:
    print("Heating off")
  elif temp < 20 and presence == 1:
    print("Heating on")
  else:
    print("Do nothing")

thermostat(16, 1)
thermostat(27, 0)
thermostat(23, 1)

Heating on
Heating off
Do nothing

12. The function zip(list1, list2) returns a list of tuples, where the i-th tuple contains the i-th element from each of the argument lists. Use the zip function to create the following list of tuples: <br>
```
zipped = [('Parking', -1), ('Shops',0), ('Food Court',1), ('Offices',2)]
```

In [ ]:
# Code cell 13
floor_types = ['Parking', 'Shops', 'Food Court', 'Offices']
floor_numbers = range(-1,3)
#zipped = list(...)
print(zipped)

In [ ]:
floor_types = ['Parking', 'Shops', 'Food Court', 'Offices']
floor_numbers = range(-1,3)
zipped = list(zip(floor_types, floor_numbers))
print(zipped)

[('Parking', -1), ('Shops', 0), ('Food Court', 1), ('Offices', 2)]

13. Use the zip function and dict() to create a dictionary, elevator_dict, where the keys are the floor types and the values are the corresponding floor number so that:<br>
```
elevator_dict[-1] = 'Parking'
```

In [ ]:
# Code cell 14
floor_types = ['Parking', 'Shops', 'Food Court', 'Offices']
floors_numbers = range(-1,3)
#elevator_dict = dict(...)
print(elevator_dict)

In [ ]:
# Code cell 15
# Verify elevator_dict[-1]
elevator_dict[-1]

14. Create an Elevator class. The constructor accepts the list of strings floor_types and the list of integers floor_numbers. The class implements the methods 'ask_which_floor' and 'go_to_floor'. The output of this methods should look as follows:
```
floor_types = ['Parking', 'Shops', 'Food Court', 'Offices']
floors_numbers = range(-1,4)
el = Elevator(floor_numbers, floor_types)
el.go_to_floor(1)
Going to Food Court floor!
el.go_to_floor(-2)
There is floor number -2 in this building.
el.ask_which_floor('Offices')
The floor Offices is the number: 2
el.ask_which_floor('Swimming Pool')
There is no Swimming Pool floor in this building.
```

### Good Job!